.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 2px solid black;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap:10px ;
    
 }
 .item{
    height: 100px;
    width: 200px;
    background: chocolate;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    flex-grow:2 ;

 }