h2{
    color: green;
}
p{
    color: purple;
    text-align:center;
    font-size: 25px;
}
.par{
    color: paleturquoise;
}
#jk{
    color:blue;
}
div{
    height:200px;
    width:200px;
    color:red;
    background-color:aquamarine;
    text-align:center;
    align-content:center;
    padding : 20px;
    margin: 100px;
    border: 1px solid red;


}