/* h2{
    color: green;
}
p{
    color: purple;
    text-align:center;
    font-size: 25px;
}
.par{
    color: paleturquoise;
}
#jk{
    color:blue;
}
div{
    height:200px;
    width:200px;
    color:red;
    background-color:aquamarine;
    text-align:center;
    align-content:center;
    padding : 20px;
    margin: 100px;
    border: 1px solid red;


} */
.jk1{
    display: inline-block;
       height: 200px;
   width: 150px;
    background-color: rgb(99, 240, 5);
    border: 2px solid black;

}



.jk{

   height: 500px;
    width: 600px;
   border: 2px solid black;

}



/* .jk2{
    display:block;
}  */

